<form action='/names' method='post'>
  <input type='text' name='player1_name' value='Player1' />
  <input type='text' name='player2_name' value='Player2' />
  <input type='submit' value='Play' />
</form>
